﻿@model IEnumerable<WebApplication10.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskSequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.UserName)
        </th>
        <th></th>
    </tr>
    @if (ViewBag.UserId == null)
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskSequence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
                </td>
            </tr>
        }
    }

    else
    {
        
        <tr>
            <td>
                <b>Kasutajale @ViewBag.UserName  määratud tööd</b>

            </td>
        </tr>
        foreach (var item in Model.Where(x => x.AssignedTo == ViewBag.UserId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskSequence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
                </td>
            </tr>

        }
        <tr>
            <td>
                <b>Kasutaja @ViewBag.UserName poolt määratud tööd</b>

            </td>
        </tr>
        foreach (var item in Model.Where(x => x.AssignedBy == ViewBag.UserId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskSequence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
                </td>
            </tr>

        }
    }

</table>
